footer {
  margin: 10px; }

.video {
  align-items: center;
  margin-bottom: 5%; }

.logo {
  transition: all 0.2s; }

.info {
  margin-top: 20px;
  margin-bottom: 50px; }

body {
  background-color: #d8b0fd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large; }

.card {
  margin: 2px;
  background-color: transparent;
  transition: all 1s;
  filter: grayscale(100%);
  width: 100px; }
  .card:hover {
    transform: scale(1.02, 1.02);
    filter: grayscale(0%); }

.carousel {
  margin-bottom: 5%; }

.carousel-caption {
  color: black;
  background-color: #fff6f6;
  font-size: medium;
  size: 50%; }

.videoyt {
  margin: 10px;
  align-items: center; }
  .videoyt:hover {
    transform: scale(1.01, 1.01);
    transition: all 0.2s; }
