body {
    background-color: $bg;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;
    @media screen and (max-width:400px){
        aspect-ratio: 4x3;
        margin: auto;
    }
}