.videoyt{
	margin: 10px;
	align-items: $ac;
    text-align: $ac;
    .video{
        text-align: $ac;
        iframe{
            width: 560px;
            height: 350px;
        }
    }
    &:hover{
        transform: scale(1.01, 1.01);
	    transition: all 0.2s;
    }

}
