$cbc: #fff6f6;
$bg: #d8b0fd;
$ac: center;

footer {
	margin: 10px;
}

.video {
	align-items: $ac;
	margin-bottom: 5%;
}

.logo {
	transition: all 0.2s;
}


@import "body";
@import "card";
@import "carousel";
@import "videoyt";
@import "pedidos";