$cbc: #fff6f6;
$bg: #d8b0fd;

footer {
	margin: 10px;
}

.video {
	align-items: center;
	margin-bottom: 5%;
}

.logo {
	transition: all 0.2s;
}

.info {
	margin-top: 20px;
	margin-bottom: 50px;
}
.textop {
	text-align: center;
	margin: 100px;
}



@import "body";
@import "card";
@import "carousel";
@import "videoyt";
@import "textos";
@import "comida";