body{
    background-color:#d8b0fd;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.carousel{
    margin-bottom: 5%;
}
footer{
    margin: 10px
}
.videoyt{
    margin: 10px;
    align-items: center;
}
.video{
    align-items: center;
    margin-bottom: 5%;
}
.videoyt:hover{
    transform: scale(1.01, 1.01);
    transition: all 0.2s;
}
.logo{
    transition: all 0.2s;
}
.info{
    margin-top: 20px;
    margin-bottom: 50px;
}
.carousel-caption{
    color: black;
    background-color: rgb(255, 246, 246);
    font-size: medium;
    size: 50%;
}
