body{
    background-color:#d8b0fd;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.carousel{
    margin-bottom: 5%;
}
footer{
    margin-top: 50px;
    margin-bottom: 10px;
}
.videoyt{
    margin: 10px;
}
.video{
    align-items: center;
}
.videoyt:hover{
    transform: scale(1.1, 1.1);
    transition: all 1s;
}
.logo{
    transition: all 0.2s;
}
.info{
    margin-top: 20px;
    margin-bottom: 50px;
}
.carousel-caption{
    color: black;
    background-color: rgb(255, 246, 246);
    font-size: medium;
    size: 50%;
}
.card{
    margin: 2px;
    background-color: transparent;
    transition: all 1s;
    filter: grayscale(100%);
    width: 100px;
}
.card:hover{
    transform: scale(1.02, 1.02);
    filter: grayscale(0%);
}